<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <title>CSP Computer Science</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CSP C</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <br />
  <br />

  <div style="margin-left: 5%">
    <form action="index.php" method="POST">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="nim">NIM</label>
          <input type="text" class="form-control" name="nim" required />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="nama">Nama</label>
          <input class="form-control" type="text" name="nama" required />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="username">Username</label>
          <input class="form-control" type="text" name="username" required />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" required />
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="kelas">Kelas</label>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="kelas" id="kelasa" value="A" />
              <label class="form-check-label" for="kelasa">A</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="kelas" id="kelasb" value="B" />
              <label class="form-check-label" for="kelasb">B</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="kelas" id="kelasc1" value="C1" />
              <label class="form-check-label" for="kelasc1">C1</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="kelas" id="kelasc2" value="C2" />
              <label class="form-check-label" for="kelasc2">C2</label>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" name="add" class="btn btn-primary">Add</button>
    </form>
    
    <br>
    <!-- Tabel 1 - Pengguna -->
    <div style="display: inline-block; ">
      <h3>DATA PENGGUNA CSP Computer Science</h3>
      <!-- TABEL1 -->
      <table class="table table-bordered table-hover text-center">
        <tr>
          <td>No</td>
          <td>NIM</td>
          <td>Nama</td>
          <td>Username</td>
          <td>Kelas</td>
          <td>Status</td>
          <td>Aksi</td>
        </tr>
        <tr>
          <!-- DATA YG AKAN DIGANTI -->
          DATA_TABEL
        </tr>

      </table>
    </div>

    

  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

</html>